<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link href="/templates/utils/bootstrap.min.css">

</head>
<style th:replace="/layout/list :: styleList">

</style>
<body>
<div class="container-fluid px-0">
    <div th:replace="/layout/list :: logo">
    </div>

    <div class="row">
        <h1>
            List
        </h1>
        <th:if test="${mess!=null}">
            <h4 th:text="${mess}"></h4>
        </th:if>
    </div>

    <div class="row d-flex" style="padding-left: 30px; padding-right: 30px">
        <form action="/customer/add" method="get" style="width: 50%; float: left">
            <input type="hidden" name="action" value="add">
            <button class="btn" type="submit" id="add"> Add customer</button>
        </form>
        <form action="/customer" method="post" style="width:50%; margin-right: 0; padding-left: 80px">
            <input type="hidden" name="action" value="search">
            <div class="row px-0 mx-0">
                <div class="col-3">
                    <input type="text" name="searchName" class="form-control" placeholder="Name">
                </div>
                <div class="col-3">
                    <input type="date" name="searchDateOfBirth" class="form-control" placeholder="Date Of Birth">
                </div>
                <div class="col-3">
                    <select class="form-select" name="searchPositionId">
                        <option value="">Position</option>
                        <option value=1> Lễ tân</option>
                        <option value=2> Phục vụ</option>
                        <option value=3> Chuyên viên</option>
                        <option value=4> Giám sát</option>
                        <option value=5> Quản lý</option>
                        <option value=6> Giám đốc</option>
                    </select>
                </div>
                <div class="col-3 px-0" style="right: 0">
                    <button type="submit" class="btn" id="submit">Search</button>
                </div>
            </div>

        </form>
    </div>
    <div class="main">
        <table id="list" class="table">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Id Card</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Customer Type</th>
                <th> Edit</th>
                <th> Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer, index : ${customers}">
                <td th:text="${index.count}"></td>
                <input hidden th:value="${customer.id}">
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.dateOfBirth}"></td>
                <td th:switch="${customer.gender}">
                    <span th:case="1" th:text="Male"></span>
                    <span th:case="0" th:text="Female"></span>
                    <span th:case="3" th:text="LGBT"></span>
                </td>
                <td th:text="${customer.idCard}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
                <td th:value="${customer.customerType.id}"
                    th:text="${customer.customerType.name}"></td>

                <!--edit button-->

                <td>
                    <button type="button" class="editCustomer btn btn-success"
                            data-bs-toggle="modal"
                            th:attr="onclick=|infoEdit('${customer.id}','${customer.name}','${customer.dateOfBirth}','${customer.gender}','${customer.idCard}','${customer.phoneNumber}','${customer.email}', '${customer.address}', '${customer.customerType.id}')|"
                            data-bs-target="#editModal">
                        Edit
                    </button>
                </td>
                <!--delete button-->
                <td>
                    <button type="button" class="deleteConfirm btn btn-warning" data-bs-toggle="modal"
                            th:attr="onclick=|deleteCustomer('${customer.id}', '${customer.name}')|"
                            data-bs-target="#deleteModal">
                        Delete
                    </button>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a th:href="@{'/customer/list'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customer/list'(page=${customers.number + 1})}"
       th:if="${customers.hasNext()}">Next</a>
</div>
<footer th:replace="/layout/list :: footer">

</footer>
<!--delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-warning">
                <h5 class="modal-title" id="exampleModalLabel-delete">Delete Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body btn-light">
                Delete Customer <strong style="color: red" id="nameDelete"></strong>?
            </div>
            <div class="btn-light modal-footer" id="deleteButton">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" action="/customer/delete" method="post">
                    <input type="hidden" name="id" id="idDelete">
                    <input type="submit" value="Confirm" class="btn btn-warning">
                </form>
            </div>
        </div>
    </div>
</div>
<!---->
<!--Edit modal-->
<div class="modal  fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-header btn-success">
                    <h5 class="modal-title" id="exampleModalLabel-edit">Edit Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <!--edit modal body-->
                <div class="modal-body btn-light p-3 px-3 mx-0">
                    <div class="d-flex justify-content-center">
                        <form  class="w-100" id="editForm" action="/customer/edit" method="post" th:object="${customerModal}">
                        <input hidden type="text" id="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name" class="h6">Name:</label>
                            <div class="input-group">
                                <input type="text" id="name" class="form-control" placeholder="Input name"
                                       th:field="*{name}"/>
                                <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="dateOfBirth" class="h6">Date of Birth:</label>
                            <input type="date" id="dateOfBirth" class="form-control" th:field="*{dateOfBirth}" required>
                        </div>
                        <div class="mt-3 form-group">
                            <label for="gender" class="h6">Gender:</label>
                            <select type="date" id="gender" class="form-control" th:field="*{gender}" required>
                                <option th:value="1" th:text="Male"></option>
                                <option th:value="0" th:text="Female"></option>
                                <option th:value="2" th:text="LGBT"></option>
                            </select>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="idCard" class="h6">Id card:</label>
                            <div class="input-group">
                                <input type="text" id="idCard" class="form-control" placeholder="Input Id card"
                                       th:field="*{idCard}">
                                <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                            </div>
                        </div>
                        <div>
                            <div class="mt-3 mb-3 me-0 px-0 form-group" style="float: left; width: 50%">
                                <label for="phoneNumber" class="h6">Phone number:</label>
                                <div class="input-group" style="width: 100%">
                                    <input type="text" id="phoneNumber" class="form-control"
                                           placeholder="Input Phone number" th:field="*{phoneNumber}">
                                    <span class="input-group-text"><i class="fa-solid fa-square-phone"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 form-group" style="clear: both">
                            <label for="email" class="h6">Email:</label>
                            <div class="input-group">
                                <input type="text" id="email" class="form-control" placeholder="Input Email"
                                       th:field="*{email}">
                                <span class="input-group-text"><i class="fa-solid fa-envelope-circle-check"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="address" class="h6">Address:</label>
                            <div class="input-group">
                                <input type="text" id="address" class="form-control" placeholder="Input Address"
                                       th:field="*{address}">
                                <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label class="h6" for="customerType">Customer Type:</label>
                            <div class="input-group">
                                <select id="customerType" class="form-control" th:field="*{customerType}">
                                    <option th:each="item: ${customerTypeList}" th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                </select>
                                <span class="input-group-text"><i class="fa-solid fa-map"></i></span>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            <div class="btn-light modal-footer" id="editButton">
                <button id="editCancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button form="editForm" type="submit" class="btn btn-primary">Save</button>
            </div>
    </div>
</div>
</div>


<!---->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="/templates/utils/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    function deleteCustomer(id, name) {
        $("#nameDelete").text(name);
        $("#idDelete").val(id);

    }

    function infoEdit(id, name, dateOfBirth, gender, idCard, phoneNumber, email, address, customerTypeId) {
        $("#id").val(id);
        $("#name").val(name);
        $("#dateOfBirth").val(dateOfBirth);
        $("#idCard").val(idCard);
        $("#phoneNumber").val(phoneNumber);
        $("#email").val(email);
        $("#address").val(address);
        $("#customerType").val(customerTypeId);
        $("#gender").val(gender);


    }

</script>
</body>
</html>
